html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(244, 244, 244);
  color: rgb(51, 51, 51);
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

/* APP COMPONENT */
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  text-align: center;
}

